.index {
  background: url('images/traffic-light-new-min.jpg') no-repeat center center
    fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 500pt;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  letter-spacing: 0.05em;
  font-weight: 800;
  text-align: center;
}

.subheading {
  font-family: 'Pt Serif', serif;
  font-size: 16px;
  font-style: italic;
}

.desc .container {
  padding: 50px;
}

.desc {
  background-color: #eeeeee;
}

.team {
  background-color: #eeeeee;
}

.team-desc p {
  font-family: 'Pt Serif', serif;
}

.monitoring {
  padding: 50px;
  color: white;
  background-color: #f95959;
}

.navbar-nav a {
  margin-left: 20px;
}

.imgc {
  color: white;
  padding: 180px;
}

.imgc a {
  color: white;
  text-decoration: none;
}

.imgc a:hover {
  color: #facf5a;
}

.darkgrey {
  background-color: #2228317f;
}

.darkgrey li a {
  color: white;
}

.darkgrey li a:hover {
  color: #facf5a;
}

.footer {
  padding: 50px;
  background-color: #222831;
}

.footer .container a {
  color: white;
  text-decoration: none;
}
