    <link href="about.css" rel="stylesheet">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="about.css">
        <!-- Footer -->
        <section class="team text-center" id="team">
                <h2  style="text-align: center; background-color: rgba(0,0,0,0.5);"><a href="../index.php"> OUR TEAM</a></h2>
                <p class="subheading" style="text-align:center; background-color: rgba(0,0,0,0.5);">WEBAAST CREATOR</p>
                <br>
            
                <div class="team-desc row" style="left: ">
                    <div class="col-sm-4">
                        <img height="250" src="images/ubai.jpg">
                        <p>
                        </p><h6>M UBAIDILAH</h6>
                        <p>J3D217187 <br><i>PROGRAMER</i></p>
                        
                    </div>

                    <div class="col-sm-4"  style="left: ">
                        <img height="250" src="images/daffa.jpg">
                        <p>
                        </p><h6>DAFFA DAMAS YORIDHO</h6>
                        <p>J3D217205<br><i>ANALIST</i></p>
                    </div>
                    
                    <div class="col-sm-4">
                        <img height="250" src="images/rei.jpg">
                        <p>
                        </p><h6>RAY DIMAS WIRAHADI A</h6>
                        <p>J3D117049<br><i>MANAGER</i></p>
                    <br>      
                    </div>
                </div>
            
        </section>
        <section>
            <p style="text-align: center; background-color: rgba(0,0,0,0.5);">Alamat: Sekolah Vokasi IPB
             </p>
                <p class="subheading" style="text-align:center; background-color: rgba(0,0,0,0.5);">Email: Webaast_Kelompok9@gmail.com</p>
        </section>
